
    body {
        background-image: url('https://th.bing.com/th/id/OIP.kUiwjbniUYMkTUnjMfYzaQHaHa?w=145&h=182&c=7&r=0&o=5&dpr=1.3&pid=1.7'); /* Replace 'your-image-url.jpg' with your actual image URL */
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
